* {
    body {
        font-family: 'Roboto', system-ui, -apple-system, sans-serif;
    }
}

.placeholder {
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 8px;

}

.placeholder img {
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 0.3s;
}

/* Optional: hide broken images */
.placeholder img[src=""] {
    visibility: hidden;
}


header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.sign-up-container {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.random-info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.random-info-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;


}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 180px;
    flex: 0 0 auto;

}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

figcaption {
    align-self: flex-end;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
    padding: 50px;
}

.quote blockquote {
    font-style: italic;
}

.quote figcaption {
    font-weight: bold;
    font-size: 25px;
}


.action-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.action-item {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin: 10px;
    padding: 24px 40px;

}

.action-item-text {
    padding: 35px;
}

.action-item-text p,
h3 {
    margin: 0;
    padding: 0;
}

.action-item button {
    border-color: white;
    padding: 12px 28px;


}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 10px;

}